@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
/* colors */
/* typography */
@import './base/reset.css';
html {
  background: #090b1a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
}
@media screen and (max-width: 599px) {
  body {
    min-height: 100vh;
  }
}

main {
  background: #1b1938;
  width: 1100px;
  height: 446px;
  display: flex;
  border-radius: 8px;
}
@media screen and (max-width: 599px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    width: 327px;
    height: 780px;
  }
}
main .content-right {
  background: #aa5cdb;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media screen and (max-width: 599px) {
  main .content-right {
    border-radius: 8px;
  }
}
main .content-right .content-right__img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  mix-blend-mode: multiply;
  opacity: 0.75;
}
@media screen and (max-width: 599px) {
  main .content-right .content-right__img {
    width: 327px;
    height: 240px;
    border-radius: 8px;
  }
}
main .content-left {
  margin-top: 71px;
  margin-left: 72px;
}
@media screen and (max-width: 599px) {
  main .content-left {
    margin-left: 31px;
  }
}
main .content-left .header {
  margin-right: 95px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
@media screen and (max-width: 599px) {
  main .content-left .header {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin-right: 31.5px;
  }
}
main .content-left .header .accents {
  color: #aa5cdb;
}
main .content-left .content {
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: white;
  width: 374px;
}
@media screen and (max-width: 599px) {
  main .content-left .content {
    width: 264px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
  }
}
main .content-left .statistic-boxs {
  display: flex;
  color: white;
  margin-top: 72px;
  width: 360px;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  main .content-left .statistic-boxs {
    width: 264px;
    display: flex;
    flex-direction: column;
  }
  main .content-left .statistic-boxs .statistic-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
main .content-left .statistic-boxs .statistic-box__number {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
main .content-left .statistic-boxs .statistic-box__title {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
